/* 此文件为换肤文件，请只把样式的颜色属性在此填上*/
/*个人中心其他部分*/
#wodeInfoDiv{ background-color:#ec2935;color:white;} 					 /*内联样式抽离*/
.wo_title span{background-color:#3cbaef;border: 1px solid #3cbaef;} 
#myInfoDiv{background-color:#ec2935;color:white;}  
.everyValue{color:white;border:1px solid #fff;}                                                  			       
.selected{border-bottom: 3px solid #ec2935; color:#ec2935 ; }        /*公共样式global.css*/
.content-intro{ background:#ec2935; }
.seletor{color:  #ec2935;}
.command-button{background:#ec2935;}
.item-row-shengji{ background:#ec2935;}
.content-header{background:#ec2935; }
.shengji_button{background:#ec2935;color:white;}
.m-chatting-body:before{background-color:#ec2935;}
.dlg_commit{background:#ec2935;}                                     /*mshop/self_dialog*/
.submit-button {background:#ec2935;}
.submit-button span{background:#ec2935;}
.am-btn{background-color: #ec2935;border-color: #ec2935;}
.am-btn-danger {color: #fff;background-color: #dd514c;border-color: #dd514c;}
.btn{background-color:#ec2935;}
.btn span{color:white;}
.ele_coinstyle {color:#ec2935;}
.ele_coinstyle_cash {color:#ec2935;}
.rule{color: #ec2935; }
.box .commtBtn{background: #ec2935;color: #fff;}
.ele #price{color: #ec2935;}
.right{color: #ec2935;}
.itemProContent.right_white_rect{color: #ec2935;}
.white-list .btnWhite4{color: #ec2935;}
.black{color:#3cbaef;}
.info_right_text{color: #ec2935}
.redunder{color:#3cbaef;}
/*个人中心其他部分*/

/*从头改下来*/
.btn_bottom	{background-color:#ec2935;}                      /*order_css/tuihuo.css*/
#send_msg{background-color: #ec2935;color: #fff;border: 1px solid #ec2935;}
.type-left-button.select{border-left: 5px solid #ec2935;}    /*css/vic.css*/
.am-navbar .foot_balck{color:#ec2935;}                       /*order_css/global.css*/
.button_black18	{background-color:#ec2935;}                  /*order_css/address.css*/
#row2-button1{ background:#fff;color: #ec2935;border: 1px solid #ec2935;}
.del-btn{background:#ec2935;}
#middle-tab .area-one.select{border-bottom: 2px solid #ec2935;}             /*order_css/dingdan.css*/
#middle-tab .area-one.select div{color:#ec2935;}                                     /*order_css/dingdan.css*//*css/vic.css*/
.chk_3:checked + label:after{background: #ec2935;box-shadow: 0 0 1px #ec2935;}         /*order_css/pingjia.css*/
.btn_type1{background-color:#ec2935;}                                                        /*order_css/pingjia.css*/
.divOrderState .lineBlack{background: #ec2935;}                                             /*order_css/dingdan_detail.css*/
.am-navbar-label.btnBlack4{background: #ec2935;}                                                /*order_css/dingdan.css*/
.am-navbar-label.btnBlack2{background: #ec2935;}                                                /*order_css/dingdan.css*/
.pay_desc_btn{background: #ec2935;}                                                /*order_css/dingdan_detail.css*/
div.comment-mark.sel div{color:#ec2935;}                                                        /*order_css/pingjia.css*/
.bottomButton-rightWrapper{background:#ec2935;}                                               /*goods/querendingdan.css*/
 .footer .footer-box .weidian .foot_select{color:#ec2935; }                                    /*class_page.php*/
#submit_id{background: #ec2935;}                                                                /*css/package/package_detail.css*/
/*从头改下来*/
/*my_microshop*/
.chk_3:checked + label:after{background: #ec2935;box-shadow: 0 0 1px #ec2935;}                 /*list.css/r_style.css*/
#middle-tab .area-one.select#kindAll{border-bottom: 2px solid #ec2935;}            /*css/vic.css*/
#middle-tab .area-one.select#kindRecommend{border-bottom: 3px solid #ec2935;}            /*css/vic.css*/
.parent-firststr{color:#ec2935;}      
.small-type-button6.ui-btn-hidden{background-color: #ec2935;border-color: #ec2935;color: #fff;}    /*my_profit.php*/
#buts .content-base-size-selected{    background: url('../images_red/goods_image/2016042705.png');background-size: 15px 15px;background-repeat: no-repeat;background-position: right bottom;color: #ec2935;border: 1px solid #ec2935;background-color: #fff;}
.btnTitleRight{background-color:#ec2935;}                                               /*list_css/r_style.css/464行*/                                     

.shangjia{background-color:#ec2935;}
.sort-select{color: #ec2935;}
.small-type-button6{color: #ec2935;border: 1px solid #ec2935;}
.blackBtn{color: #ec2935;}
.t-size.sel {border: 2px #ec2935 solid;}
.t-size.sel b{background: url(../images_red/list_image/bottomCheck.png) no-repeat ;background-size:cover}
/*my_microshop*/

/*my_store*/
.menu-title .wordblack{color:#ec2935;}                                           /*goods/my_store_list.css*/
.menu-selected {border-bottom: 3px solid #ec2935;}                             /*goods/my_store_list.css*/

/*my_store*/
.calendar_top{background:#ec2935;}
.am-share .showAll{background:#ec2935;}
.dlg_commit_left{background:#ec2935;}
.fanhui-btn{background:#ec2935;}


.jiesan-button {background: #ec2935;}
#queding{background:#ec2935;}
.am-navbar .foot_balck {color: #ec2935!important;}
.shangpin-dialog .active{background-image: url(/weixinpl/mshop/images_red/goods_image/2016042705.png);   border: 1px solid #ec2935;} /* goods/product_detail.css */
.dlg_close_btn{background-color:#ec2935; }   /*wodetuandui.css*/
.default-span{background: #ec2935;} /*vic.css */
.addressDiv .address-item.default .set-default{background-image: url("../images_red/vic/icon_option_on-orange.png");background-size: auto 100%;}/* 我的地址*/
.divOrderState .sel .lineGray {background-color: #ec2935;}
#middle-tab .area-one.sel div 	{color: #ec2935;}
.sort-select{color: #ec2935;}/*list.php*/


/*myteam*/
.dlg-div-content-item,.dlg-div-content-item-p,.dlg-div-content-item1{border: 1px solid #ec2935;border-color:#ec2935;}
.register_info .btn{background: #ec2935;}
.register_info .btn_apply,.btn_ing{background: #ec2935;}
.fanhui-btn{background:#ec2935;}

#need_score{color:#ec2935;}/*product_detail.css*/
.dlg-content-row1-right-top2 span{color: #ec2935;}

#detail_div{color: #ec2935;}
.m-chatting-content .item-row-libao-span1{color:#ec2935;}
.m-chatting-content div .item-row-libao {border:1px solid #ec2935;}
.dlg-div-title-right-cell1-text{color: #ec2935;}
.dlg-div-content-item-selected,.dlg-div-content-item1-selected{background-image: url('../images_red/goods_image/2016042705.png');}

.divOrderState .sel .lineGray {background-color: #ec2935;}
#middle-tab .area-one.sel div 	{color: #ec2935;}

.itemMainDiv .rightWrapper .itemProPrice{color: #ed2935;}
.item-delete-button{background: #ed2935;}
.content-footer-left3-item1-top1-font2 {color: #ed2935;}
.content-footer-left3-item1-top1-font1{color:#ed2935;}
/*my_collect*/
.productMoney {color: #ed2935;}
.font-cl{color: #ed2935;}
/*order_form*/
.select_coupon_span_r {color: #ed2935 !important;}
.bottomButton-left-right-span{color:#ed2935}
.foote .top .right{color:#ed2935}
.search_top#shopType1.selected{color: #ec2935;}
.search_top#shopType2.selected{color: #ec2935;}

.dw-cal-prev-y,.dw-cal-prev-m{background:url(/weixinpl/mshop/images_red/zuo.png) center center no-repeat;background-size:19px;}
.dw-cal-next-y,.dw-cal-next-m{background:url(/weixinpl/mshop/images_red/you.png) center center no-repeat;background-size:19px;}
.mbsc-mobiscroll .dw-cal-m-c  .dw-cal-days{color:#ec2935;}
.dw-sel .dw-cal-day-fg.dd{background-color: #ec2935;}
.dw-cal-today .dw-i{color:#ec2935;}
.mbsc-mobiscroll  .dwb-e.dwb {color:#ec2935;}

.type-left-button.select{color:#ec2935}
#badge-span{background-color:#E4393C}
.shangpin-price .curprice {color: #ec2935;}

.list_color_red{color:#ed2935}

.item-wrapper-right-row2-span1{color: #ed2935;}
.goodsRedRect{background-color: #ec2935;}
.copy_tip{border:1px solid #ec2935;color:#ec2935;}
.search_top#shopType1.se_selected{color:#ec2935;}
.search_top#shopType2.se_selected{color:#ec2935;}
.btulog{background-color: #ec2935;}
.ok{background: #ec2935;}
.copy_tip {border: 1px solid #ec2935;color: #ec2935;}
.btn_arr .btn p{border: 1px solid #ec2935;}
.o_bg{background: #ec2935;}
.buy_btn{border: 1px solid #ec2935;}
