input#charitable_propotion {
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 220px;
    height: 24px;
    padding-left: 8px;
}
input#integration_price {
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 220px;
    height: 24px;
    padding-left: 8px;
}
.singletext_con{
	display: inline-block;
}
td input{
	border: solid 1px #ccc;
	width: 80%;
	height: 25px;
}
#WSY_t1 a img {
	width: 18px;
	height: 18px;
}
/*.WSY_list .WSY_addto a {
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 24px;
    background-color: #06a7e1;
    border: solid 1px #0b91c2;
    color: #fff;
    border-radius: 2px;
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}*/
.WSY_t5 span {
    display: block;
    margin-top: 6px;
} 
.editor{height:30px;line-height:30px;font-size:13px;cursor:pointer;background-color:#ECECEC;text-align:center}
#cke_editor1 {
   /* margin-left: 20px;
    margin-right: 20px;*/
}     
input#search_batchcode ,#search_user_id , #search_name, #search_phone, #search_status{
	border: 1px solid #ccc;
    border-radius: 2px; 
    width: 220px;
    height: 24px;
	margin-left: 10px;
	padding-left: 8px;
}
/*input.search_btn{
    padding-right: 10px;
    padding-left: 10px;
    line-height: 24px;
    background-color: #06a7e1;
    border: solid 1px #0b91c2;
    color: #fff;
    border-radius: 2px;
	margin-left: 15px;
}*/
.btn1 img { 
    width: 18px;
}
input#begintime, #endtime{
	border: 1px solid #ccc;
    border-radius: 3px; 
    width: 176px;
    height: 30px;
    /*background-color: #F4F4F4; */
	padding-left: 8px;
}
.search {
    margin-top: 18px;
    margin-left: 18px;
}
.WSY_remind_main{ 
	margin-bottom:18px;
}
a {
    color: #06A7E1;
}
.WSY_list .WSY_left{
    margin-top: 5px;
}